:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-white: #fff;
  --color-black: #000;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
}

.section-tours {
  background-color: var(--color-grey-light-1);
  padding: 20px 10px 30px 10px;
}

.tours__heading {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card__container {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(min-content, 300px)); */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  justify-content: space-around;
}

.card__side {
  height: auto;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 15px 4rem rgba(0 0 0 / 0.02);
  transition: 0.4s ease;
}

.card__side:hover {
  box-shadow: 0 15px 4rem rgba(0 0 0 / 0.2);
  transform: translateY(-3px);
}

.card__picture {
  background-size: cover;
  height: 230px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-blend-mode: screen;
}

.card__picture--1 {
  background-image: linear-gradient(
      to right,
      var(--color-secondary-light),
      var(--color-secondary-dark)
    ),
    url(../assets//images//img/nat-10.jpg);
}

.card__picture--2 {
  background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    ),
    url(../assets//images//img/nat-6.jpg);
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ffd9, #5643fad9),
    url(../assets//images//img/nat-7.jpg);
}

.card__heading {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 120px;
  right: 20px;
  text-align: right;
  width: 70%;
  line-height: 1.5;
}

.card__heading-span {
  padding: 10px 15px;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, #ffb900d9, #ff7730d9);
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, #7ed56fd9, #28b485d9);
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, #2998ffd9, #5643fad9);
}

.card__details {
  padding: 10px;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
}

.card__details ul li {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-light-2);
}

.card__price {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.card__price--1 {
  background-image: linear-gradient(
    to right bottom,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
}

.card__price--2 {
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

.card__price--3 {
  background-image: linear-gradient(
    to right,
    var(--color-tertiary-light),
    var(--color-tertiary-dark)
  );
}

.card__cta {
  padding: 50px 50px 15px 50px;
}

.card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 45px;
}

.card__price-only {
  font-size: 14px;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 45px;
  font-weight: 100;
}

.card__cta > a {
  color: #b12029;
  font-weight: 600;
  border: none;
  padding: 0.459rem 0.8rem;
  transition: all 0.35s;
}

.card__cta a:hover {
  background-color: #b12029;
  color: #fff;
}
